<div *ngIf="posts.length; else loading">
  <div class="form-block">
    <input
      type="text"
      name="search"
      id="search"
      class="form-block__input"
      placeholder="Search for posts"
      [(ngModel)]="searchText"
    />
  </div>
  <table class="posts-table">
    <thead class="header-row posts-table__header">
      <th class="header-row__item">#</th>
      <th class="header-row__item">Title</th>
      <th class="header-row__item">Author</th>
      <th class="header-row__item">Date</th>
      <th class="header-row__item">Actions</th>
    </thead>

    <tbody class="posts-table__body">
      <tr
        class="body-row"
        *ngFor="let post of posts | SearchPosts : searchText; let idx = index"
      >
        <td class="body-row__item">{{ idx + 1 }}</td>
        <td class="body-row__item">{{ post.title }}</td>
        <td class="body-row__item">{{ post.author }}</td>
        <td class="body-row__item">
          {{ post.creation_date | date : "short" }}
        </td>
        <td class="body-row__item">
          <a
            class="body-row__action"
            [routerLink]="['/admin', 'editPost', post.id, 'edit']"
            >Edit</a
          ><a class="body-row__action" (click)="delete(post.id)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #loading>
  <p>Page is loading...</p>
</ng-template>
