.posts-table {
  width: 100%;
  border-collapse: collapse;
}

.header-row {
  background-color: darkgray;
  &__item {
    text-align: start;
    padding: 16px;
    color: white;
    &:nth-last-child(1) {
      text-align: end;
    }
  }
}

.body-row {
  &__item {
    padding: 16px;
    &:nth-last-child(1) {
      text-align: end;
    }
  }
  &__action {
    border: none;
    color: black;
    margin: 0px 8px;
    cursor: pointer;
    &:hover {
      color: red;
    }
  }
}
